<h3>編集</h3>
<%= form_with(model: @task, local: true) do |form| %>

  <%= form.label :タイトル %><br>
  <%= form.text_field :name %><br>

  <%= form.label :内容 %><br>
  <%= form.text_area :content %><br>

  <%= form.submit t('view.submit') %><br>
<% end %><br>

<%= link_to t('view.index'), tasks_path %>
