<h3>編集</h3>
<%= form_with(model: @task, local: true) do |form| %>

  <%= form.label :名前 %><br>
  <%= form.text_field :name %><br>

  <%= form.label :内容 %><br>
  <%= form.text_area :content %><br>

  <%= form.submit "投稿する" %><br>
<% end %><br>

<%= link_to "一覧", tasks_path %>
