<h3><%= t('view.index')%></h3>
<%= notice %><br>
  <h3><%= image_tag('/assets/111.png') %><%= link_to t('view.new'), new_task_path %></h3><br>
<%= form_with(model: Task.new, local:true, method: :get, url: tasks_path) do |f|%>
  <h4>タスク検索</h4>
  <%= f.label :name_search, "タイトル" %><br>
  <%= f.text_field :name %><br>
  <%= f.label :status_search, "状態" %><br>
  <%= f.select :status, Task.statuses.keys %>
  <%= f.hidden_field :search, value: 'true' %><br>
  <%= f.submit "検索する"%>
<% end %><br>
<%= link_to "新着順にする", tasks_path %><br>
<%= link_to "終了期限順にする", tasks_path(sort_expired: "true") %><br>
<%= link_to "優先順位順にする", tasks_path(sort_priority: "true") %>

<% @tasks.each do |task| %>
　<div class="list-group">
  <a href="#" class="list-group-item active">
  <%= t('view.name')%>: <%= task.name %><br></a>
  <a href="#" class="list-group-item">
  <%= t('view.content')%>: <%= task.content %><br></a>
  <a href="#" class="list-group-item">
  期限: <%= task.expired_date %>
  　状態: <%= task.status %>
  　優先順位: <%= task.priority %></a>
  　<%= link_to t('view.edit'),edit_task_path(task.id) %>
  <%= link_to t('view.show'), task_path(task.id) %>
  <%= link_to t('view.destroy'), task_path(task.id), method: :delete, data:{ confirm: "本当に削除していいですか？"} %>
  </div>
<% end %>
　<%= paginate @tasks %>
