<h3>新規作成</h3>
<%= form_with(model: @task, local: true) do |form|%>

<%= form.label :name %><br>
<%= form.text_field :name %><br>

<%= form.label :content %><br>
<%= form.text_area :content %><br>

<%= form.label :expired_date %><br>
<%= form.date_field :expired_date %><br>

<%= form.submit t('view.submit') %>
<% end %><br>

<%= link_to t('view.index'), tasks_path %>
