<ul class="list-group">
  <li class="list-group-item">
    <h3><%= image_tag('/assets/111.png') %>新規作成</h3></li>
    <%= form_with(model: @task, local: true) do |form|%>
  <li class="list-group-item">
    <%= form.label :name %><br>
    <%= form.text_field :name %><br></li>
  <li class="list-group-item">
    <%= form.label :content %><br>
    <%= form.text_area :content %><br></li>
  <li class="list-group-item">
    <%= form.label :expired_date %><br>
    <%= form.date_field :expired_date %><br></li>
  <li class="list-group-item">
    <%= form.label :status %>: <%= form.select :status, Task.statuses.keys, {waiting:'waiting',working:'working',completed:'completed'} %><br></li>
  <li class="list-group-item">
    <%= form.label :priority %>: <%= form.select :priority, Task.priorities.keys,{high:'high',middle:'middle',low:'low'}%><br></li>
  <li class="list-group-item">
    <%= form.submit t('view.submit') %><br></li>
  <% end %>
</ul>
　<%= link_to t('view.index'), tasks_path %>
