<h3><%= t('view.show')%></h3><br>
<%= t('view.name')%><%= @task.name %><br>
<%= t('view.content')%><%= @task.content %><br><br>

<%= link_to t('view.edit'), edit_task_path %>
<%= link_to t('view.index'), tasks_path %>
