<h3><%= t('view.show')%></h3><br>
<div class="list-group">
  <a href="#" class="list-group-item active">
  <%= t('view.name')%>: <%= @task.name %><br></a>
  <a href="#" class="list-group-item">
  <%= t('view.content')%>: <%= @task.content %><br></a>
  <a href="#" class="list-group-item">
  期限: <%= @task.expired_date %>
  　状態: <%= @task.status %>
  　優先順位: <%= @task.priority %></a>
</div>
　<%= link_to t('view.index'), tasks_path %>
